@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --primary-color: #0a303a;
    --orange: #E74C25;
  }
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Catamaran", sans-serif;
    width: 100vw;
    overflow-x: hidden;
}