.container{
    margin: 120px auto 60px;
    width: 80vw;
    display: flex;
    gap: 2vw;
    position: relative;
}
.historyVideo{
    position: absolute;
    right: 0;
    top: 50px;
    width: 10vw;
    height: auto;
}
.historyVideo1{
    width: 10vw;
    height: auto;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
}
.quotes{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 50px 5vw;
    position: relative;
    border: 1px solid rgb(183, 183, 183);
    box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 6px;
    border-radius: 20px;
    margin: 20px 0;
}
.poem{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 900;
    padding: 50px 5vw;
    margin: 20px 0;
    position: relative;
    border: 1px solid rgb(183, 183, 183);
    box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 6px;
    border-radius: 20px;
}
.text{
    font-family: "Catamaran", sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0 0;
}
.text1{
    font-family: "Catamaran", sans-serif;
    font-size: 18px;
    margin: 20px 0 0;
}
.text1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-decoration: none;
    padding-bottom: 4px; /* Space for the underline */
}

.text1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00eaff; /* Change to your preferred color */
    transition: width 0.3s ease-in-out;
}

.text1:hover::after {
    width: 100%;
}

.img{
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    top: 0;
    left: 25%;
    width: 50%;
    height: auto;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        margin-top: 60px;
        width: 90vw;
    }
    .left, .right{
        width: 100%;
    }
    .right{
        margin-top: 0;
    }
    .historyVideo{
        top: -20px;
        right: -20px;
        width: 30vw;
    }
    .historyVideo1{
        width: 30vw;
        height: auto;
    }
}

.banner{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 80px;
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 8vw;
}
.squirrel{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.content{
    width: 60vw;
}
.heading{
    font-size: 50px;
    font-weight: 900;
}
.text{
    font-size: 22px;
}

@media (max-width: 768px) {
 /* Banner adjusts to full width and smaller side paddings */
 .banner {
    width: 92%;
    padding: 0 4%;
    height: 300px;
  }
  /* Content inside banner now takes most of available width */
  .content {
    width: 80%;
  }
  .heading {
    font-size: 35px;
  }
  .text {
    font-size: 18px;
  }
}
.flex5{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.flex6{
    display: flex;
    font-size:20px;
    gap: 20px;
}

/* Icon Wrapper for toggling between outline and solid icons */
.iconWrapper {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.outlineIcon,
.solidIcon {
    transition: opacity 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.solidIcon {
    opacity: 0;
}

.iconWrapper:hover .solidIcon {
    opacity: 1;
    cursor: pointer;
}

.iconWrapper:hover .outlineIcon {
    opacity: 0;
}