.hero{
    position: relative;
}
.hero1{
    width: 100vw;
    height: 450px;
    object-fit: cover;
}
.hero02{
    position: absolute;
    bottom: 0;
    left: 15vw;
    width: 70vw;
    height: auto;
    z-index: 5;
}
.hero2 {
    position: absolute;
    top: 40%;
    left: 46%;
    transform: translate(-50%, -50%); /* Centers it perfectly */
    height: auto;
    width: 6.5vw;
    z-index: 6;
}

.hero3 {
    position: absolute;
    bottom: 0;
    left: 43%;
    transform: translateX(-50%); /* Centers it horizontally */
    height: auto;
    width: 15vw;
    z-index: 7;
}
.btn{
    position: absolute;
    bottom: 17%;
    left: 47%;
    transform: translateX(-50%); /* Centers it horizontally */
    background-color: var(--orange);
    border: none;
    color: white;
    padding: 5px 7px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 900;
    transition: background-color 0.3s ease;
    z-index: 7;
}
.btn:hover{
    background-color: #357a7a;
}
.text{
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%); /* Centers it horizontally */
    z-index: 7;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}


@media (max-width: 768px) {
    .hero{
        margin-top: 75px;
    }
    .hero1{
        height: 400px;
        object-fit: cover;
    }
    .hero2 {
        width: 20vw;
        left: 40%;
    }
    .hero02 {
        width: 250vw;
        left: -75vw;
    }
    .hero3 {
        width: 60vw;
        left: 20%;
    }
    .btn{
        left: 35vw;
        font-size: 12px;
    }
    .text{
        font-size: 20px;
        width: 80vw;
        left: 47.5%;
    }
}
