.container{
    margin: 120px auto 60px;
    width: 80vw;
    border: 1px solid rgb(229, 229, 229);
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 5px;
    position: relative;
}
.box {
    border: 1px solid rgb(169, 169, 169);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 5px;
    padding: 10px;
    margin: 10px 0;
    background: white;
    transition: all 0.3s ease-in-out;
}
.historyVideo{
    position: absolute;
    right: 0;
    top: 50px;
    width: 10vw;
    height: auto;
}
.historyVideo1{
    width: 10vw;
    height: auto;
}
.flex50{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featopic {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0.5vw;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease-in-out;
}

.link{
    text-decoration: none;
    color: black;
}

.feats {
    font-size: 22px;
    font-family: "Catamaran", sans-serif;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 0;
    padding-left: 1vw;
    opacity: 0;
}

.quotetext{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 80px 10vw 20px;
    position: relative;
}
.quoteauthor{
    text-align: center;
    font-size: 20px;
}

.show {
    max-height: 200px; /* Adjust height as needed */
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.hide {
    max-height: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.left{
    width: 50%;
    margin: 50px 0;
    padding: 0 5vw;
}
.right{
    width: 50%;
    margin: 50px 0;
    padding: 0 5vw;
    border-left: 1px solid rgb(229, 229, 229);
}
.quotes{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 50px 0;
    position: relative;
}
.poem{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 400;
    padding: 30px 5vw 50px;
    position: relative;
    border: 1px solid rgb(229, 229, 229);
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 5px;
    width: 80vw;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    gap: 5vw;
}
.heading1{
    width: 98vw;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
.usercontent{
    text-align: center;
    min-width: 8vw;
}
.usericon{
    font-size: 22px;
    width: 30px;
    height: 30px;
    background: black;
    padding: 10px;
    color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 5px;
}
.username{
    font-size: 24px;
    font-family: "Catamaran", sans-serif;
}
.grow{
    flex-grow: 1;
}
.poem1{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 400;
    position: relative;
}
.text{
    font-family: "Catamaran", sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0 0;
}
.text1{
    font-family: "Catamaran", sans-serif;
    font-size: 18px;
    margin: 20px 0 0;
}
.text1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-decoration: none;
    padding-bottom: 4px; /* Space for the underline */
}

.text1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00eaff; /* Change to your preferred color */
    transition: width 0.3s ease-in-out;
}

.text1:hover::after {
    width: 100%;
}

.img{
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    top: -50px;
    left: 25%;
    width: 50%;
    height: auto;
}
.flex5{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.flex6{
    display: flex;
    font-size:20px;
    gap: 20px;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        width: 90vw;
    }
    .left, .right{
        width: 90%;
    }
    .right{
        margin-top: 0;
    }
    .historyVideo{
        top: -20px;
        right: -20px;
        width: 30vw;
    }
    .historyVideo1{
        width: 30vw;
        height: auto;
    }
}

.banner{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 80px;
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 8vw;
}
.squirrel{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.white{
    position: absolute;
    left: -22.5%;
    top: 0;
    width: 100vw;
    height: 300px;
    z-index: 1;
    object-fit: cover;
}
.content{
    width: 30vw;
    position: absolute;
    bottom: 30px;
    left: 10vw;
    z-index: 2;
}
.animatedVideoContainer{
    width: 100vw;
    height: 300px;
    position: relative;
}
.frog{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15vw;
}
.heading{
    font-size: 50px;
    font-weight: 900;
}
.heading3{
    font-size: 50px;
    font-weight: 900;
    line-height: 55px;
}
.text{
    font-size: 22px;
}
@media (max-width: 768px) {
 /* Banner adjusts to full width and smaller side paddings */
 .banner {
    width: 92%;
    padding: 0 4%;
    height: 300px;
  }
  .white{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 300px;
    z-index: 1;
    object-fit: cover;
}
  /* Content inside banner now takes most of available width */
  .content {
    width: 80%;
  }
  .heading {
    font-size: 35px;
  }
  .text {
    font-size: 18px;
  }
  .featopic {
    font-size: 24px;
  }
  .quotetext{
    font-size: 28px;
    padding-top: 40px;
  }
  .heading1{
    font-size: 32px;
    width: 100vw;
    margin-top: 80px;
  }
  .heading3{
    font-size: 32px;
}
  .poem{
    flex-direction: column;
  }
  .usercontent{
    display: flex;
    font-weight: 900;
    gap: 15px;
  }
  .usericon{
    width: 20px;
    height: 20px;
    padding: 5px;
  }
  .frog{
    width: 30vw;
  }
}

/* Icon Wrapper for toggling between outline and solid icons */
.iconWrapper {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.marginbtm{
    margin-bottom: 80px;
}

.outlineIcon,
.solidIcon {
    transition: opacity 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.solidIcon {
    opacity: 0;
}

.iconWrapper:hover .solidIcon {
    opacity: 1;
    cursor: pointer;
}

.iconWrapper:hover .outlineIcon {
    opacity: 0;
}
.title{
    font-weight: 600;
}

.pages {
    margin: 20px auto;
  }
  
  .paginationControls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .prevButton,
  .nextButton,
  .pageButton {
    background-color: rgb(101, 101, 101);
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  .prevButton:hover,
  .nextButton:hover,
  .pageButton:hover {
    background-color: rgb(101, 101, 101);
  }
  
  .activePageButton {
    background-color: black;
  }